{% from "vpn/map.jinja" import vpn with context %}
{% from "pki/map.jinja" import pki with context %}
{% set client = vpn.clients[name] %}

client
dev {{ client.dev }}
proto {{ client.proto }}
{% for server, fqdn in salt['mine.get']('vpn:lookup:servers:' + name + ':*', 'fqdn', expr_form='pillar_pcre').items() %}
remote {{ fqdn }} 1194
{% endfor %}

{% if client.resolv_retry is defined %}
resolv-retry {{ client.resolv_retry }}
{% endif %}

{% if client.nobind %}
nobind
{% endif %}

{% if client.security is defined %}
user {{ client.security.user }}
group {{ client.security.group }}
{% endif %}

{% if client.persist is defined %}
{% for name, ok in client.persist.iteritems() %}
{% if ok %}
persist-{{ name }}
{% endif %}
{% endfor %}
{% endif %}

ca {{ pki.ca.crt }}
cert {{ pki.host.crt }}
key {{ pki.host.key }}

{% if client.remote_cert_tls is defined %}
remote-cert-tls {{ client.remote_cert_tls }}
{% endif %}

{% if client.compression is defined %}
comp-{{ client.compression }}
{% endif %}

# Set log file verbosity.
verb 3

# Silence repeating messages
mute 20

