{% set audio = salt['grains.filter_by']({
  'Arch': {
    'alsa': {
      'plugins': [ 'alsa-plugins', ],
      'utils': [ 'alsa-utils', ],
    },
  },
}, merge=salt['pillar.get']('audio:lookup')) %}
