{% set wm = salt['grains.filter_by']({
  'Arch': {
    'bspwm': {
      'pkgs': [
        'bspwm',
        'dmenu',
        'i3lock',
        'sxhkd',
      ],
    },
  },
}, merge=salt['pillar.get']('wm:lookup')) %}
