{% set utils = salt['grains.filter_by']({
  'Arch': {
    'aur': [ 'expac', 'yajl' ],
    'htop': [ 'htop' ],
    'stow': [ 'stow' ],
    'tree': [ 'tree' ],
    'wget': [ 'wget' ],
    'xdg': [ 'xdg-user-dirs' ],
  },
}, merge=salt['pillar.get']('utils:lookup')) %}
