{% from "prometheus/map.jinja" import prometheus with context %}
{% set node = prometheus.exporter.node %}
[Unit]
Description=Prometheus node exporter
After=network.target                                     

[Service]
User={{ prometheus.user }}
Group={{ prometheus.group }}
ExecStart={{ node.dir }}/{{ node.bin }}

[Install]
WantedBy=multi-user.target
