{% set vcs = salt['grains.filter_by']({
  'Arch': {
    'git': {
      'pkgs': [
        'git',
      ],
    },
    'mercurial': {
      'pkgs': [
        'mercurial',
      ],
    },
  },
}, merge=salt['pillar.get']('vcs:lookup')) %}
