{% set desktop = salt['grains.filter_by']({
  'Arch': {
    'apps': {
      'chat': [
        'hexchat',
      ],
      'security': [
        'x11-ssh-askpass',
      ],
      'utils': [
        'gvfs',
        'lxappearance',
      ],
    },
  },
}, merge=salt['pillar.get']('desktop:lookup')) %}
