{% set desktop = salt['grains.filter_by']({
  'Arch': {
    'apps': {
      'browser': [
        'firefox',
        'firefox-i18n-en-gb',
        'flashplugin',
      ],
      'chat': [
        'hexchat',
      ],
      'multimedia': [
        'feh',
        'ffmpeg',
        'mpv',
      ],
      'security': [
        'x11-ssh-askpass',
      ],
      'utils': [
        'gvfs',
        'lxappearance',
      ],
    },
    'fonts': {
      'pkgs': [
        'otf-fira-mono',
        'otf-fira-sans',
        'ttf-dejavu',
        'ttf-liberation',
        'ttf-symbola',
      ],
    },
    'wm': {
      'pkgs': [
        'bspwm',
        'dmenu',
        'sxhkd',
      ],
    },
    'xorg': {
      'pkgs': [
        'xorg-server',
        'xorg-xinit',
        'xorg-xfontsel',
        'xorg-xprop',
        'xorg-xrandr',
        'xorg-xset',
        'xorg-xsetroot',
        'arandr',
        'xterm',
      ],
    },
  },
}, merge=salt['pillar.get']('desktop:lookup')) %}
